<header>
  <div>
    <span class="logo-1">The</span>
    <span class="logo-2">CMS</span>
    <span class="logo-3">DEMO</span>
  </div>
</header>

<div *ngIf="articles">

  <div *ngFor="let article of articles.data">

    <div class="article">
      <h2>{{article.attributes.title}}</h2>
      <p></p>
      {{article.attributes.images.image_intro}}

      <img src="{{article.attributes.images.image_intro}}">
     <div [innerHTML]="article.attributes.text | slice:0:400 "></div>

      <a class="button button1" [routerLink]="['/article', article.attributes.id]">
        Read More
      </a>

    </div>
  </div>

</div>



