<ngx-spinner type="ball-beat"></ngx-spinner>
<header>
  <div>
    <span class="logo-1">The</span>
    <span class="logo-2">CMS</span>
    <span class="logo-3">DEMO</span>
  </div>
</header>

<div *ngIf="articles">
  <span style="color: red">{{errorMessage}}</span>
  <div *ngFor="let article of articles.data">

    <div class="article-container">
      <h2>{{article.attributes.title}}</h2>

      <img src="{{article.attributes.images.image_intro}}"
           title="{{article.attributes.images.image_intro_alt}}">
      <p></p>
      <img src="{{article.attributes.images.image_fulltext}}"
           title="{{article.attributes.images.image_fulltext_alt}}">

      <p class="content" [innerHTML]="article.attributes.text | slice:0:400 "></p>

      <a [routerLink]="['/article', article.attributes.id]">
        Read More
      </a>

    </div>
  </div>

</div>



